<div class="col-3 sticky top-2rem">
    <div class="mx-auto w-3/4 rounded overflow-hidden shadow-lg bg-white">
        <form method="post" action="{{ path('app_login') }}" class="w-full p-4 mx-auto max-w-lg">
            <img class="w-full" src="{{ asset('build/images/symfony-live-header.jpg') }}"
                 alt="SymfonyLive Tunis">
            <div class="px-6 py-4">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <p class="text-red-600 mb-4">{{ message }}</p>
                    {% endfor %}
                {% endfor %}

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           name="username" id="username" type="text" placeholder="Username">
                </div>
                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                           name="password" id="password" type="password" placeholder="******************">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 my-4 border border-gray-400 rounded shadow float-right">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
