{% extends "base.html.twig" %}


{% block body %}
    <div class="grid grid-cols-2 gap-4 ">
        <div>
            {% for status in statuses %}
                {% include 'status/show.html.twig' with {status: status} %}
            {% endfor %}
        </div>
        <div>
            {% if is_granted('ROLE_USER') %}
                {% include 'status/new.html.twig' %}
            {% else %}
                {% include 'security/login.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
