<div class="container mx-auto m-8 mb-0 w-full sticky bottom-0">
    <div class="flex flex-column-reverse flex-row-reverse">
        <div class="w-1/2">
            <div class="w-3/4 mx-auto flex flex-row-reverse mb-5">
                {% include 'components/logout.html.twig' %}
            </div>
        </div>
    </div>
</div>
